{% extends 'dashboard/dashboard_base.html' %}
{% load crispy_forms_tags %}


{% block content %}

{% if perms.auth.add_user %}
<div class="p-4">
    <h4 class="fw-bold mb-1">Edit Users</h4>
    <form action="{% url 'edit_user' user.id %}" method="POST">
        {% csrf_token %}
         <div class="vstack gap-2 mb-2">
            {{ form|crispy }}
        </div>
        <button type="submit" class="btn btn-warning mt-2">Update</button>
    </form>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center min-vh-100">
    <h1>You don't have access to this page.</h1>
</div>
{% endif %}

{% endblock %}